<div class="contact d-block d-sm-none">
  <a href="mailto: vmve.94@gmail.com">
    <span>GET IN TOUCH</span>
    <div class="circle"></div>
  </a>
</div>

<div class="background container-fluid d-flex justify-content-center align-items-center flex-column parallax">
  <div class="d-flex flex-column vh-100">
    <span>ENGINEERING</span>
    <span>GAME DESIGN</span>
    <span>PROGRAMMING</span>
    <span>GRAPHICS</span>
  </div>
</div>

<a class="arrow" onclick="toAbout()" href="#">
  <img src="img/down-arrow.svg" alt="arrow">
</a>

{{> intro}}

{{> about}}

{{> skills}}

{{> works}}

{{> footer}}
