<section class="footer pb-5">
  <div class="container-fluid">
    <div class="wrapper d-flex flex-row justify-content-around flex-wrap lh-lg">
      <a target="_blank" href="https://www.facebook.com/victormanuel.villegasescobar"><i class="fab fa-facebook"></i>
        Facebook</a>
      <a target="_blank" href="https://www.instagram.com/victorm_villegas/"><i class="fab fa-instagram"></i>
        Instagram</a>
      <a target="_blank" href="https://www.artstation.com/art_songbird"><i class="fab fa-artstation"></i> ArtStation</a>
      <a target="_blank" href="https://www.linkedin.com/in/victor-villegas/"><i class="fab fa-linkedin"></i>
        LinkedIn</a>
      <a target="_blank" href="https://github.com/Victor-Villegas"><i class="fab fa-github"></i> GitHub</a>
    </div>

    <div class="text-center my-5 mt-sm-3 mb-sm-0">
      <i class="fas fa-copyright"></i> Victor Villegas 2021
    </div>
  </div>
</section>
