<section class="main pb-5">
  <div class="main-wrapper container-fluid">
    <div class="row introduction">
      <div class="col-3">hello</div>
      <div class="col-9"></div>
    </div>
    <br class="d-initial d-md-none">
    <div class="row">
      <div class="col-3 col-sm-4"></div>
      <div class="col-9 col-sm-8">I'm constantly <span class="res">learning</span> & <span class="res">improving</span>
      </div>
    </div>
  </div>
</section>
