<header class="header">
  <div class="container-md">
    <a class="logo" href="/">
      <span>VICTOR VILLEGAS</span>
    </a>

    <nav>
      <a class="link" onclick="toAbout()" aria-current="page">about</a>
      <a class="link" onclick="toWork()" aria-current="page">work</a>
      <a class="link d-none d-sm-block" href="mailto: vmve.94@gmail.com" aria-current="page">contact</a>
    </nav>
  </div>
</header>
