<section class="skills pb-5">
  <div class="container">
    <h3 class="title">MY SKILLS</h3>

    <p>These are the softwares and tools I use to do my job. I’ve learned all these by myself through courses and
      experimenting</p>
    <br>
    <p>If I don't know how to make it, I'll search for it and learn it</p>

    <div class="d-flex">
      <div class="row">

        <div
          class="d-flex flex-wrap justify-content-center justify-content-md-start ml-0 ml-sm-n3 ml-md-0 mt-5 align-content-center skills col-12 col-md-7 col-lg-8"
          id="skill-selector">

          <span class="dot d-md-inline">•</span>
          <input type="radio" id="engineering" name="skill" value="engineering" />

          <label for="engineering" class="ml-0 ml-sm-5 ml-md-0"><span class="filter"
              data-filter=".engineering">ENGINEERING</span></label>
          <span class="dot d-md-inline">•</span>

          <input type="radio" id="game" name="skill" value="game" />
          <label for="game"><span class="filter" data-filter=".game">GAME
              DESIGN</span></label>
          <span class="dot d-md-inline">•</span>

          <input type="radio" id="programming" name="skill" value="programming" />
          <label for="programming" class="ml-0 ml-sm-7 ml-md-0"><span class="filter"
              data-filter=".programming">PROGRAMMING</span></label>
          <span class="dot d-md-inline">•</span>

          <input type="radio" id="modeling" name="skill" value="modeling" />
          <label for="modeling" class="ml-0 ml-sm-1 ml-md-0"><span class="filter" data-filter=".modeling">3D
              MODELING</span></label>
          <span class="dot d-md-inline">•</span>

          <input type="radio" id="graphic" name="skill" value="graphic" />
          <label for="graphic" class="ml-0 ml-sm-6 ml-md-0"><span class="filter" data-filter=".graphic">GRAPHIC
              DESIGN</span></label>
          <span class="dot d-md-inline">•</span>

        </div>

        <div
          class="d-flex flex-wrap mt-5 icons  align-content-center justify-content-center skills-list col-12 col-md-5 col-lg-4">

          <i class="mix programming fab fa-node-js"></i>
          <i class="mix programming fab fa-css3-alt"></i>
          <i class="mix programming fab fa-html5"></i>
          <i class="mix programming fab fa-react"></i>
          <i class="mix programming fab fa-js"></i>
          <i class="mix programming fab fa-aws"></i>
          <i class="mix programming fab fa-bootstrap"></i>
          <i class="mix programming fab fa-cpanel"></i>
          <i class="mix programming fab fa-font-awesome"></i>
          <i class="mix programming fab fa-github"></i>
          <i class="mix programming fab fa-mdb"></i>
          <i class="mix programming fab fa-npm"></i>
          <i class="mix programming fab fa-uikit"></i>
          <i class="mix game modeling fab fa-unity"></i>
          <img class="mix engineering" src="https://unpkg.com/simple-icons@v4/icons/autodesk.svg" />
          <img class="mix graphic" src="https://unpkg.com/simple-icons@v4/icons/adobeindesign.svg" />
          <img class="mix game modeling" src="https://unpkg.com/simple-icons@v4/icons/unrealengine.svg" />
          <img class="mix programming" src="https://unpkg.com/simple-icons@v4/icons/mysql.svg" />
          <img class="mix game graphic" src="https://unpkg.com/simple-icons@v4/icons/adobeillustrator.svg" />
          <img class="mix game graphic" src="https://unpkg.com/simple-icons@v4/icons/adobephotoshop.svg" />
          <img class="mix programming" src="https://unpkg.com/simple-icons@v4/icons/json.svg" />
          <img class="mix engineering" src="https://unpkg.com/simple-icons@v4/icons/mathworks.svg" />
          <img class="mix engineering" src="https://unpkg.com/simple-icons@v4/icons/wolfram.svg" />
          <img class="mix modeling engineering" src="https://unpkg.com/simple-icons@v4/icons/sketchup.svg" />
          <img class="mix modeling game" src="img/substance.svg" />
          <img class="mix modeling game" src="img/3ds.svg" />
          <img class="mix engineering" src="https://unpkg.com/simple-icons@v4/icons/microsoftexcel.svg" />
          <img class="mix graphic" src="https://unpkg.com/simple-icons@v4/icons/inkscape.svg" />
          <img class="mix modeling game" src="https://unpkg.com/simple-icons@v4/icons/blender.svg" />
          <img class="mix programming" src="https://unpkg.com/simple-icons@v4/icons/visualstudio.svg" />
          <img class="mix game programming" src="https://unpkg.com/simple-icons@v4/icons/rider.svg" />
          <img class="mix game modeling" src="https://unpkg.com/simple-icons@v4/icons/cinema4d.svg" />
          <img class="mix modeling" src="img/keyshot.svg" />

        </div>

      </div>
    </div>
  </div>
</section>
